.container{
    max-width: 1800px;
    margin: 0 auto;
}
@media only screen and (min-width: 360px ) and (max-width: 600px) {
    .container1 h1, .container2 h1, .container3 h1{
        width: 330px;
        text-align: center;
        margin: auto;
    }
    .container1 p, .container2 p, .container3 p, .navbar p{
        width: 300px;
        margin: auto;
        text-align: center;
    }
    .container2 img{
        width: 200px;
    }
    .navbar{
        justify-content: space-between;
    }
    .container1 button{
        width: 250px;
        margin: 20px;
        margin-left: 20px;
    }
    .container1 .center{
        padding-top: 30px;
    }
    .container1 h1{
        font-size: 45px; 
    }
    .container1 img{
        display: none;
    }
    .footer{
        flex-wrap: wrap;
    }
    .container2 h1{
        margin-bottom: 40px;
    }
    .mna{
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 600px ) and (max-width: 1280px) {
    .container1 h1, .container2 h1, .container3 h1{
        width: 330px;
        text-align: center;
        margin: auto;
    }
    .container1 p, .container2 p, .container3 p, .navbar p{
        width: 300px;
        margin: auto;
        text-align: center;
    }
    .container2 img{
        width: 200px;
    }
    .navbar{
        justify-content: space-around;
    }
    .container1 button{
        width: 250px;
        margin: 20px;
        margin-left: 20px;
    }
    .container1 .center{
        padding-top: 100px;
    }
    .container1 h1{
        font-size: 35px; 
    }
    .container1 img{
        width: 260px;
    }
    .center{
        justify-content: space-around;
    }
    .footer{
        flex-wrap: wrap;
    }
    .container1{
        height: 400px;
    }
    .container2 h1{
        margin-bottom: 40px;
    }
    .mna{
        margin-bottom: 70px;
    }
    .tree{
        width: 450px;
        font-size: 30px;
    }
}